.drugs {
    padding: 200px 0;
    background-color: #F6F5E8;

    &__box {
        display: flex;
    }

    &__item {
        width: 33.3%;
        padding-bottom: 48px;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);

        &:hover {
            cursor: pointer;
            border-color: rgba(0, 0, 0, 0.6);
        }
    }

    &__name {
        @extend %ffrob;
        font-size: 0.85rem;
        line-height: 1.7;
        text-align: center;
        color: #333333;
    }

    &__text {
        @extend .drugs__name;
    }
}