.about {
    background-color: $white5-color;;

    &__container {
        padding: 42px 0 106px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: visible;

        @media  screen and (max-width: 1024px) {
            padding: 28px 0 58px 0;
        }
    }

    &__subtitle {
        height: 80px;
        display: flex;
        align-items: center;
        @extend %ffkau;
        font-size: 1.875rem;
        line-height: 1.6;

        @media  screen and (max-width: 1024px) {
            height: 67px;
            font-size: 1.5rem;
        }
    }

    &__title {
        height: 80px;
        display: flex;
        align-items: center;
        position: relative;
        @extend %ffral;
        font-weight: 900;
        font-size: 2.25rem;
        line-height: 2.62rem;
        text-transform: uppercase;

        @media  screen and (max-width: 1024px) {
            height: 67px;
            font-size: 1.5rem;
        }

        &::before {
            content: '';
            width: 150px;
            height: 4px;
            background-color: $pink-color;
            position: absolute;
            bottom: -25px;
            left: 50%;
            transform: translateX(-50%);
        }
    }

    &__text {
        width: 98%;
        height: 118px;
        margin: 24px 0 58px 0;
        display: flex;
        align-items: center;
        @extend %ffral;
        font-weight: 400;
        font-size: 1.125rem;
        line-height: 1.31rem;
        color: #000;

        @media  screen and (max-width: 1024px) {
            height: 100px;
        }

        @media  screen and (max-width: 576px) {
            width: 88%;
        }
    }

    &__team {
        width: 100%;
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
    }
}

.team {

    &__item {
        width: 370px / 1200px * 100%;
        background-color: $neptune-color;
        position: relative;
    }

    &__img {
        background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
        transition: transform .2s linear;

        &:hover {
            transform: translate(-20px, -20px);
        }

        img{
            width: 100%;

            &:hover {
                opacity: .1;
            }
        }
    }

    &__text {
        width: 100%;
        position: absolute;
        top: 50%;
        left: 0;
        z-index: 2;
        transform: translate(0, -50%);
        opacity: 0;
        transition: opacity .5s linear;

        @extend %ffral;
        font-weight: 500;
        font-size: 1.5rem;
        line-height: 1.75rem;
        text-align: center;
        text-transform: uppercase;
        color: $white-color;

        @media  screen and (max-width: 576px) {
            font-size: 1rem;
        }
    }
}

.team__item:hover .team__text {
    opacity: 1;
}


