.design {
    min-height: 868px;
    background: url(../src/img/design-bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;

    @media  screen and (max-width: 1024px) {
        min-height: 600px;
    }

    @media  screen and (max-width: 576px) {
        min-height: 500px;
    }

    &:before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        background: rgba(255, 255, 255, .6);
        background-size: cover;
    }


    &__container {
        @extend .about__container;
        padding: 2.5em 15px 5em 15px;
        overflow: hidden;

        @media  screen and (max-width: 576px) {
            padding-bottom: 1em;
        }
    }

    &__subtitle {
        @extend .about__subtitle;
    }

    &__title {
        @extend .about__title;
        margin-bottom: 2.3em;
    }

    &__tablet {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }

    &__ipad{
        background-image: url(../src/img/design/ipad-border.png),url(../src/img/design/ipad.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position:  center;
        position: relative;
        margin-bottom: 3rem;
        width: 100%;
        min-height: 525px;
        z-index: 20;

        @media  screen and (max-width: 1024px) {
            background-image: url(../src/img/design/ipad-border1024.png),url(../src/img/design/ipad1024.png);
            min-height: 400px;
        }

        @media  screen and (max-width: 576px) {
            background-image: url(../src/img/design/ipad-border320.png),url(../src/img/design/ipad320.png);
            min-height: 270px;
            margin-bottom: 1em;
        }
    }

    &__iphone{
        background-image: url(../src/img/design/iphone-border.png),url(../src/img/design/iphone.png);
        background-repeat: no-repeat, no-repeat, no-repeat;
        background-position: center top;
        position: absolute;
        right: 135px / 1170px * 100%;
        bottom: -67px;
        height: 412px;
        width: 100%;
        max-width: 200px;

        @media  screen and (max-width: 1024px) {
            background-image: url(../src/img/design/iphone-border1024.png),url(../src/img/design/iphone1024.png);
            right: 200px / 1170px * 100%;
            bottom: -20px;
            height: 290px;
        }

        @media  screen and (max-width: 576px) {
            background-image: url(../src/img/design/iphone-border320.png),url(../src/img/design/iphone320.png);
            height: 180px;
            right: 7%;
        }
    }
}

