.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;

    &__container {
        height: 100px;
        display: flex;
        align-items: center;
        @media  screen and (max-width: 1024px) {
            height: 68px;
        }
    }

    &__logo img{
        @media  screen and (max-width: 1024px) {
            width: 66px;
        }
    }

    &__nav {
        flex: 1 1 auto;
    }

    &__actions {
        width: 100px;
        display: flex;
        justify-content: space-between;
    }
}

.nav-header {
    &__menu {
        display: flex;
        justify-content: flex-end;
    }

    &__item {
        width: 100px;
        text-align: center;
    }

    &__link {
        width: 85px;
        padding: 8px 0;
        display: inline-block;
        border-bottom: 1px solid transparent;
        font-family: "Raleway", sans-serif;
        font-style: normal;
        font-weight: 600;
        font-size: 0.87rem;
        line-height: 1rem;
        text-transform: uppercase;
        color: $white-color;

        &:hover {
            color: $orange-color;
            border-bottom: 1px solid $orange-color;
        }
    }
}
.actions-header {
    @media  screen and (max-width: 768px) {
        display: none;
    }
    &__link {
        img {
            @media  screen and (max-width: 1024px) {
                width: 16px;
            }
        }

        &:first-child {
            margin-left: 17px;
            @media  screen and (max-width: 1024px) {
                margin-left: 29px;
            }
        }
    }
}

#menu-toggle {
    display: none;
}
@media screen and (max-width: 768px) {
    .menu-btn {
        display: flex;
        align-items: center;
        position: absolute;
        top: 25px;
        right: 25px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 10;
    }
    
    .menu-btn > span,
    .menu-btn > span::before,
    .menu-btn > span::after {
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      background-color: #ffffff;
      transition-duration: .25s;
    }
    
    .menu-btn > span::before {
        content: '';
        top: -8px;
      }
    
    .menu-btn > span::after {
        content: '';
        top: 8px;
      }
    
    .nav-header__menu {
      display: block;
      position: fixed;
      visibility: hidden;
      top: 0;
      right: -100%;
      width: 100%;
      height: 100%;
      margin: 0;
      padding: 80px 0;
      z-index: 9;
      list-style: none;
      background: linear-gradient(360deg, rgba(237, 215, 137, 0.9) 0%, rgba(233, 130, 131, 0.9) 100%);
      transition-duration: .25s;

      .nav-header__item {
          width: 100%;
          display: flex;
          justify-content: center;
          margin-bottom: 20px;
      }

    }
    
    #menu-toggle{
        display: inline-block;
        opacity: 0;
    }
    
    #menu-toggle:checked ~ .menu-btn > span{
        transform: rotate(45deg);
    }
    
    #menu-toggle:checked ~ .menu-btn > span::before{
        top: 0;
        transform: rotate(0);
    }
    
    #menu-toggle:checked ~ .menu-btn > span::after{
        top: 0;
        transform: rotate(90deg);
    }
    
    #menu-toggle:checked ~ .nav-header__menu{
        visibility: visible;
        right: 0;
    }
}

