$pink-color: #f38281;
$yellow-color: #f9efcf;
$orange-color: #f4bf87;
$neptune-color: #95e1d3;
$dark-color: #2d3033;
$grey-color: #c6cbcd;
$white8-color: #f8f8f8;
$white5-color: #f5f5f5;
$white-color: #ffffff;
