.customers {
}

.customers__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 64px 0;;
}

.customers__title {
    min-height: 150px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
}

.customers__line {
    width: 170px;
    border-top: 1px solid #EC7979;
    padding-bottom: 40px;

}

.customers__subtitle {
    padding-top: 40px;
    color: #86878B;
}

.sustomers__reviews {
    width: 100%;
    padding-top: 83px;
    display: flex;
    justify-content: space-between;
}

.reviews__box {
    max-width: 370px;
}

.reviews__comment {
    position: relative;
    min-height: 180px;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 10px;
    background-color: #E2E2E2;
}

.reviews__comment::before {
    content: "";
    position: absolute;
    left: 70px;
    bottom: -20px;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 20px solid #E2E2E2;
}

.reviews__comment h5 {
    padding-left: 30px;
    padding-right: 30px;
    color: #86878B;
}

.reviews__managers {
    padding-top: 66px;
    display: flex;
}

.managers__photo {
    margin-right: 30px;
}

.managers__information {
}

.information__name {
    padding-bottom: 15px;
    line-height: 54px;
}

.managers__position {
}
